<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efan.notlonely_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.efan.notlonely_android.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--menu-->
        <activity android:name=".ui.menu.CricleDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.menu.ActivityDetailsActivity"
            android:screenOrientation="portrait"/>
        <!--find-->

        <!--publish-->
        <activity android:name=".ui.publish.UCropActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.publish.PubActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.publish.PubCircleActivity"
            android:screenOrientation="portrait"/>
        <!--message-->

        <!--mine-->
        <activity android:name=".ui.mine.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.IdentityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.SuccessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.HomepageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.AttentionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.PushActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.JoinActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.ZanActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
