<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efan.notlonely_android">

    <application
        android:name="com.efan.notlonely_android.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.efan.notlonely_android.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--mine-->
        <activity android:name="com.efan.notlonely_android.ui.mine.MineFragment_zhuce_one">
        </activity>
        <activity android:name="com.efan.notlonely_android.ui.mine.MineFragment_zhuce_two">
        </activity>
        <activity android:name="com.efan.notlonely_android.ui.mine.MineFragment_zhuce_three">
        </activity>
        <activity android:name="com.efan.notlonely_android.ui.mine.MineFragment_personaldetails">
        </activity>
        <activity android:name="com.efan.notlonely_android.ui.mine.MineFragment_push">
        </activity>
        <activity android:name="com.efan.notlonely_android.ui.mine.MineFragment_join">
        </activity>
        <activity android:name="com.efan.notlonely_android.ui.mine.MineFragment_zan">
        </activity>
        <activity android:name="com.efan.notlonely_android.ui.mine.MineFragment_denglu_one">
        </activity>
    </application>
</manifest>
